@use "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-page > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 96px;
}

.about-page header nav button {
    height: auto;
    margin-left: auto;
    @include variables.button;
}

.about-page nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 82rem;
    height: auto;
    justify-content: center;
    margin: auto;

    @include variables.tablet {
        margin: 0 10%;
    }

    h4 {
        @include variables.h4;
    }
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li a {
    display: inline;
    margin: 10px;
    text-decoration: none;
    @include variables.p;
}

/* TITRE DE LA PAGE */
.title__page {
    padding: 70px 10%;
    background-image: url("../images/background_header.jpg");
    margin-bottom: 6%;

    h1 {
        @include variables.h1;
        color: white;
    }
}

/* DUAL DISPLAY FEATURES */

.DisplayFeatures__Content,
.about-DisplayFeatures__Content {
    width: 500px;
}

.DisplayFeatures__Content > h2,
.about-DisplayFeatures__Content > h2 {
    @include variables.h2;
}

.DisplayFeatures__Content > p,
.about-DisplayFeatures__Content > p {
    @include variables.p;
    margin-top: 20px;
}

.about-DisplayFeatures__Row1 {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: flex-end;
    align-items: center;

    @include variables.tablet {
        display: flex;
        flex-direction: column-reverse;
    }
}

.about-DisplayFeatures__Row1 > .about-DisplayFeatures__Content {
    grid-area: 1 / 1 / 2 / 3;
    margin-left: 10%;

    @include variables.tablet {
        margin-top: 5%;
        text-align: center;
    }
}

.about-DisplayFeatures__Row1 > .about-DisplayFeatures__Images {
    grid-area: 1 / 2 / 2 / 3;

    @include variables.tablet {
        margin-left: auto;
    }
}

.about-DisplayFeatures__Row1
    > .about-DisplayFeatures__Images
    > .about-DF__Images__Row1
    img:first-child {
    border-radius: 50%;
    margin-right: 50px;
}

.about-DisplayFeatures__Row1
    > .about-DisplayFeatures__Images
    > .about-DF__Images__Row2 {
    position: relative;
}

.about-DisplayFeatures__Row1
    > .about-DisplayFeatures__Images
    > .about-DF__Images__Row2
    img:first-child {
    position: absolute;
    right: 0px;
    top: -200px;
}

.DisplayFeatures__Row2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    @include variables.desktop {
        justify-content: center;
        align-items: center;
    }

    @include variables.tablet {
        display: flex;
        flex-direction: column;
    }
}

.DisplayFeatures__Row2 > .DisplayFeatures__Content {
    @include variables.tablet {
        margin: 0 auto;
        margin-top: 5%;
        text-align: center;
    }
}

.DisplayFeatures__Row2
    > .DisplayFeatures__Images
    > .DF__Images__Row1
    img:first-child {
    position: relative;
    top: 150px;
}

.DisplayFeatures__Row2
    > .DisplayFeatures__Images
    > .DF__Images__Row2
    img:first-child {
    margin-right: 50px;
}

/* VALUES */

.about-values__display {
    text-align: center;
    margin: 0 10%;
}

.about-values__display > h2 {
    @include variables.h2;
    margin: 10% 0;
}

.about-values__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;

    @include variables.tablet {
        display: flex;
        flex-direction: column;
    }
}

.about-value__column1 {
    grid-area: 1 / 1 / 2 / 2;

    @include variables.tablet {
        margin: 5% 0;
    }
}

.about-value__column2 {
    grid-area: 1 / 2 / 2 / 3;

    @include variables.tablet {
        margin: 5% 0;
    }
}

.about-value__column3 {
    grid-area: 1 / 3 / 2 / 4;

    @include variables.tablet {
        margin: 5% 0;
    }
}

.about-value__column1 > h2,
.about-value__column2 > h2,
.about-value__column3 > h2 {
    position: relative;
    top: -40px;
    background-color: variables.$yellow;
    padding: 34px;
    border-radius: 50%;
    max-width: 100px;
    margin: 0 auto;
    @include variables.h4;
}

.about-value__column1 > h3,
.about-value__column2 > h3,
.about-value__column3 > h3 {
    @include variables.h4;
}

.about-value__column1 > p,
.about-value__column2 > p,
.about-value__column3 > p {
    @include variables.p;
    margin-top: 20px;
}

/* FAQs */
.FAQ__display > h2 {
    @include variables.h2;
    text-align: center;
    margin: 10% 0;
}

.FAQ__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 10%;

    @include variables.tablet {
        display: flex;
        flex-direction: column;
    }
}

.FAQ__categories {
    grid-area: 1 / 1 / 2 /2;

    @include variables.tablet {
        h2 {
            margin: 5% 0;
        }
    }
}

.FAQ__categories > h2 {
    @include variables.h3;
}

.FAQ__questions {
    grid-area: 1 / 2 / 2 / 4;
}

.FAQ__question__answer {
    background-color: variables.$snow;
    padding: 30px;
    margin: 15px 0;
}

.FAQ__question__title > h4 {
    @include variables.h4;
}

.FAQ__question__answer > p {
    @include variables.p;
    margin-top: 20px;
}

.FAQ__question__title {
    display: flex;
    justify-content: space-between;
}

footer {
    margin-top: 10%;
}

.footer__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: variables.$darkNavy;
    padding: 120px 10%;
}

.footer__top__text {
    grid-area: 1 / 1 / 2 / 2;
}

.footer__top__text > h2 {
    @include variables.h2;
    color: white;
    text-align: left;
}

.footer__top__stores {
    grid-area: 1 / 2 / 2 / 3;
    text-align: right;
}

.footer__top__stores > img:first-child {
    margin-right: 1.3%;
}

.footer__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #333a44;
    align-items: center;
    padding: 25px 10%;
}

.footer__bottom__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    grid-area: 1 / 1 / 2 / 2;
}

.footer__bottom__menu > h4 {
    @include variables.h3;
    color: white;
}

.footer__bottom__menu > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footer__bottom__menu > ul > li {
    font-family: variables.$spaceMono;
    color: variables.$dimGrey;
    font-weight: bold;
}

.footer__bottom__socials {
    grid-area: 1 / 2 / 2 / 3;
    text-align: right;
}

.footer__bottom__socials > img {
    margin: 0 1%;
}
