@use "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.careers-page > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 96px;

    h4 {
        @include variables.h4;

        @include variables.mobile {
            margin: 0 auto;
        }
    }
}

.careers-page > header > h4 {
    @include variables.tablet {
        margin-left: 10%;
    }
}

.careers-page > .careers-header_button {
    height: auto;
    margin-left: auto;
    @include variables.button;
}

.careers-header_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 82rem;
    height: auto;
    justify-content: center;
    margin: auto;

    @include variables.tablet {
        margin: 0 10%;
    }

    @include variables.mobile {
        display: none;
    }
}

.careers-menu_header > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.careers-menu_header > li > a {
    margin: 10px;
    text-decoration: none;
    @include variables.p;
}

/* DUAL DISPLAY FEATURES */

.DisplayFeatures__Content {
    width: 500px;

    button {
        margin-top: 25px;
        @include variables.button;
    }
}

.DisplayFeatures__Content > h2 {
    @include variables.h2;
}

.DisplayFeatures__Content > p {
    @include variables.p;
    margin-top: 20px;
}

.DisplayFeatures__Row1 {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: flex-end;
    align-items: center;

    @include variables.tablet {
        display: flex;
        flex-direction: column-reverse;
    }
}

.DisplayFeatures__Row1 > .DisplayFeatures__Content {
    grid-area: 1 / 1 / 2 / 3;
    margin-left: 10%;

    @include variables.tablet {
        text-align: center;
        margin: 0 auto;
        margin-top: 5%;
    }
}

.DisplayFeatures__Row1 > .DisplayFeatures__Images {
    grid-area: 1 / 2 / 2 / 3;

    @include variables.tablet {
        margin-left: auto;
    }
}

.DisplayFeatures__Row1
    > .DisplayFeatures__Images
    > .DF__Images__Row1
    img:first-child {
    border-radius: 50%;
    margin-right: 50px;
}

.DisplayFeatures__Row1 > .DisplayFeatures__Images > .DF__Images__Row2 {
    position: relative;
}

.DisplayFeatures__Row1
    > .DisplayFeatures__Images
    > .DF__Images__Row2
    img:first-child {
    position: absolute;
    right: 0px;
    top: -150px;
}

/* VALUES */

.values__display {
    text-align: center;
    margin: 0 10%;
}

.values__display > h2 {
    @include variables.h2;
    margin: 10% 0;
}

.values__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;

    @include variables.tablet {
        display: flex;
        flex-direction: column;
    }
}

.value_column1 {
    grid-area: 1 / 1 / 2 / 2;

    @include variables.tablet {
        margin: 5% 0;
    }
}

.value__column2 {
    grid-area: 1 / 2 / 2 / 3;

    @include variables.tablet {
        margin: 5% 0;
    }
}

.value__column3 {
    grid-area: 1 / 3 / 2 / 4;

    @include variables.tablet {
        margin: 5% 0;
    }
}

.value__column1 > h2,
.value__column2 > h2,
.value__column3 > h2 {
    position: relative;
    top: -40px;
    background-color: variables.$yellow;
    padding: 34px;
    border-radius: 50%;
    max-width: 100px;
    margin: 0 auto;
    @include variables.h4;
}

.value__column1 > h3,
.value__column2 > h3,
.value__column3 > h3 {
    @include variables.h4;
}

.value__column1 > p,
.value__column2 > p,
.value__column3 > p {
    @include variables.p;
    margin-top: 20px;
}

/* CAREERS */
.career__container {
    display: flex;
    flex-direction: column;
    margin: 10% 10%;
    gap: 20px;
}

.career {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: variables.$snow;
    padding: 30px;

    button {
        @include variables.button;
    }
}

.career__content {
    display: flex;
    flex-direction: column;

    h4 {
        @include variables.h4;
    }

    p {
        @include variables.p;
    }
}
