@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 96px;
}

header nav button {
  height: auto;
  margin-left: auto;
  @include variables.button;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 82rem;
  height: auto;
  justify-content: center;
  margin: auto;

  h4 {
    @include variables.h4;
  }
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li a {
  display: inline;
  margin: 10px;
  text-decoration: none;
  @include variables.p;
}

/* TITRE DE LA PAGE */
.title__page {
  padding: 70px 10%;
  background-image: url("../images/background_header.jpg");
  margin-bottom: 6%;

  h1 {
    @include variables.h1;
    color: white;
  }
}

/* DUAL DISPLAY FEATURES */

.DisplayFeatures__Content {
  width: 500px;

  button {
    margin-top: 25px;
    @include variables.button;
  }
}

.DisplayFeatures__Content > h2 {
  @include variables.h2;
}

.DisplayFeatures__Content > p {
  @include variables.p;
  margin-top: 20px;
}

.DisplayFeatures__Row1 {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: flex-end;
  align-items: center;
}

.DisplayFeatures__Row1 > .DisplayFeatures__Content {
  grid-area: 1 / 1 / 2 / 3;
  margin-left: 10%;
}

.DisplayFeatures__Row1 > .DisplayFeatures__Images {
  grid-area: 1 / 2 / 2 / 3;
}

.DisplayFeatures__Row1
  > .DisplayFeatures__Images
  > .DF__Images__Row1
  img:first-child {
  border-radius: 50%;
  margin-right: 50px;
}

.DisplayFeatures__Row1 > .DisplayFeatures__Images > .DF__Images__Row2 {
  position: relative;
}

.DisplayFeatures__Row1
  > .DisplayFeatures__Images
  > .DF__Images__Row2
  img:first-child {
  position: absolute;
  right: 0px;
  top: -150px;
}

/* VALUES */

.values__display {
  text-align: center;
  margin: 0 10%;
}

.values__display > h2 {
  @include variables.h2;
  margin: 10% 0;
}

.values__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.value_column1 {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
}

.value__column2 {
  grid-area: 1 / 2 / 2 / 3;
}

.value__column3 {
  grid-area: 1 / 3 / 2 / 4;
}

.value__column1 > h2,
.value__column2 > h2,
.value__column3 > h2 {
  position: relative;
  top: -40px;
  background-color: variables.$yellow;
  padding: 34px;
  border-radius: 50%;
  max-width: 100px;
  margin: 0 auto;
  @include variables.h4;
}

.value__column1 > h3,
.value__column2 > h3,
.value__column3 > h3 {
  @include variables.h4;
}

.value__column1 > p,
.value__column2 > p,
.value__column3 > p {
  @include variables.p;
  margin-top: 20px;
}

/* CAREERS */
.career__container {
  display: flex;
  flex-direction: column;
  margin: 10% 10%;
  gap: 20px;
}

.career {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: variables.$snow;
  padding: 30px;

  button {
    @include variables.button;
  }
}

.career__content {
  display: flex;
  flex-direction: column;

  h4 {
    @include variables.h4;
  }

  p {
    @include variables.p;
  }
}

footer {
  margin-top: 10%;
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: variables.$darkNavy;
  padding: 120px 10%;
}

.footer__top__text {
  grid-area: 1 / 1 / 2 / 2;
}

.footer__top__text > h2 {
  @include variables.h2;
  color: white;
  text-align: left;
}

.footer__top__stores {
  grid-area: 1 / 2 / 2 / 3;
  text-align: right;
}

.footer__top__stores > img:first-child {
  margin-right: 1.3%;
}

.footer__bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #333a44;
  align-items: center;
  padding: 25px 10%;
}

.footer__bottom__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  grid-area: 1 / 1 / 2 / 2;
}

.footer__bottom__menu > h4 {
  @include variables.h3;
  color: white;
}

.footer__bottom__menu > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.footer__bottom__menu > ul > li {
  font-family: variables.$spaceMono;
  color: variables.$dimGrey;
  font-weight: bold;
}

.footer__bottom__socials {
  grid-area: 1 / 2 / 2 / 3;
  text-align: right;
}

.footer__bottom__socials > img {
  margin: 0 1%;
}
