@use "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 96px;
}

header nav button {
    height: auto;
    margin-left: auto;
    @include variables.button;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 69.125rem;
    height: auto;
    justify-content: center;
    margin: auto;

    h4{
        @include variables.h4;
    }
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li a{
    display: inline;
    margin: 10px;
    text-decoration: none;
    @include variables.p;
}

.intro {
    background-image: url('../Pictures/backgroundheader.jpg');
    background-size: cover;
    position: relative;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        @include variables.h1;
        color: white;
        width: 500px;
        height: 112px;
        margin-left: 200px;
    }

    .arrowheader {
        position: absolute;
        z-index: 10;
        left: 50rem;
        top: 21rem;
        
    }

    p {
        @include variables.p;
        color: white;
        width: 405px;
        height: 100px;
        margin-left: 350px;
        margin-top: 50px;
    }

    button {
        @include variables.button;
        margin-left: 350px;
        margin-top: 50px;
    }
}

.bloc1 {
    display: flex;
    flex-direction: row;
    margin-top: 160px;
    align-items: center;
    justify-content: space-between;
    width: 79.688rem;
    height: 291px;
    margin-left: 165px;

    .bloc1 article {
        display: flex;
        flex-direction: column;
        width: 350px;
    }

    img {
        margin-bottom: 40px;
    }

    h4 {
        @include variables.h4;
    }

    p {
        @include variables.p;
        color: #939CAA;
        margin-top: 20px;
        width: 75%;
    }
}

.bloc2 {
    margin-top: 200px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin-left: 165px;
    margin-right: 100px;
    justify-content: center;

    article {
        display: flex;
        flex-direction: column;
        width: 27.813rem;
        margin-left: 0px;
    }

    img {
        margin: auto;
    }

    .arrow1 {
        position: absolute;
        z-index: 5;
        top : 18.75rem;
        margin-left: 31.25rem;
    }

    h2 {
        @include variables.h2;
        margin-bottom: 20px;
    }
    
    p {
        @include variables.p;
        margin-bottom: 30px;
    }

    button {
        @include variables.button;
    }
}

.bloc3 {
    margin-top: 160px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin-left: 165px;
    margin-right: 100px;
    justify-content: flex-start;


    article {
        display: flex;
        flex-direction: column;
        width: 27.813rem;
        margin: auto;
    }

    img {
        margin-left: 0px;
    }

    .arrow2 {
        position: absolute;
        z-index: 5;
        top : 0rem;
        margin-left: -10rem;
    }

    h2 {
        @include variables.h2;
        margin-bottom: 20px;
    }
    
    p {
        @include variables.p;
        margin-bottom: 30px;
    }

    button {
        @include variables.button;
    }
}

.bloc4 {
    margin-top: 160px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin-left: 165px;
    margin-right: 100px;
    justify-content: space-between;
    margin-bottom: 150px;

    article {
        display: flex;
        flex-direction: column;
        width: 27.813rem;
        margin-left: 0px;
    }

    img {
        margin: auto;
        border-radius: 50%;
    }

    .arrow3 {
        position: absolute;
        z-index: 10;
        top : 5rem;
        margin-left: 60rem;
    }

    h2 {
        @include variables.h2;
        margin-bottom: 20px;
    }
    
    p {
        @include variables.p;
        margin-bottom: 30px;
    }

    button {
        @include variables.button;
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #495567;
    width: 100%;

    .text_footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 165px;
        margin-right: 200px;
        align-items: center;
        height: 300px;

        .dowload {
            width: 9.938rem;
            height: 56px;
            display: flex;
            flex-direction: row;
        }

        h2 {
            @include variables.h2;
            color: white;
            width: 25.938rem;
        }
    }

    .bottom_page {
        display: flex;
        flex-direction: row;
        background-color: #333A44;
        justify-content: space-between;


        .social_media {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 120px;
            height: 24px;
            margin: auto;
        }

        .nav_footer {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 69.125rem;
            margin-left: 165px;
            
            h4{
                @include variables.h4;
                color: white;
            }
        }
        
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
        }
        
        li a{
            display: inline;
            margin: 10px;
            text-decoration: none;
            @include variables.p;
            color: white;
        }
    }

}