@use "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 96px;
}

header nav button {
    height: auto;
    margin-left: auto;
    @include variables.button;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 69.125rem;
    height: auto;
    justify-content: center;

    h4 a{
        @include variables.h4;
        margin-right: 3.125rem;
        text-decoration: none;
    }
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li a{
    display: inline;
    margin: 10px;
    text-decoration: none;
    @include variables.p;
}

.title__page {
    padding: 70px 10%;
    background-image: url("../Pictures/header_background.svg");
    margin-bottom: 6%;
  
    h1 {
      @include variables.h1;
      color: white;
      margin-left: 3%;
    }
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

    img {
        margin-left: 165px;
        margin-right: 165px;
        margin-bottom: 5%;
    }

}

.below_map {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;

    h2 {
        @include variables.h2;
        width: 21.938rem;
    }

    p {
        @include variables.p;
        width: 27.813rem;
    }

    button {
        @include variables.button;
        width: 11.25rem;
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #495567;
    width: 100%;

    .text_footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 165px;
        margin-right: 165px;
        align-items: center;
        height: 300px;

        .dowload {
            width: 9.938rem;
            height: 56px;
            display: flex;
            flex-direction: row;
        }

        h2 {
            @include variables.h2;
            color: white;
            width: 25.938rem;
        }
    }

    .bottom_page {
        display: flex;
        flex-direction: row;
        background-color: #333A44;
        justify-content: space-between;
        height: 4rem;
        


        .social_media {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 120px;
            height: 24px;
            margin-right: 165px;
        }

        .nav_footer {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 69.125rem;
            margin-left: 165px;
            
            h4{
                @include variables.h4;
                color: white;
                margin-right: 3.125rem;
            }
        }
        
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
        }
        
        li a{
            display: inline;
            margin: 10px;
            text-decoration: none;
            @include variables.p;
            color: white;
        }
    }

}