/* Couleurs */
/* Polices */
/* Titres + Body */
/* BREAKPOINT DESKTOP */
/* BREAKPOINT TABLET */
/* BREAKPOINT MOBILE */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 96px;
}

header nav button {
  height: auto;
  margin-left: auto;
  width: 195px;
  height: 53px;
  background-color: #fcb72b;
  color: white;
  font-family: "Space Mono";
  line-height: 25px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
header nav button:hover {
  background-color: white;
  color: #fcb72b;
  border: 1px solid #fcb72b;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 69.125rem;
  height: auto;
  justify-content: center;
  margin: auto;
}
nav h4 {
  font-size: 24px;
  font-family: "Space Mono";
  line-height: 28px;
  letter-spacing: -1.07px;
  color: #495567;
  margin-right: 3.125rem;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li a {
  display: inline;
  margin: 10px;
  text-decoration: none;
  font-size: 15px;
  font-family: "Lexend Deca";
  line-height: 25px;
  font-weight: 300;
  color: #495567;
}

.intro {
  background-image: url("../Pictures/backgroundheader.jpg");
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro h1 {
  font-size: 56px;
  font-family: "Space Mono";
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #495567;
  color: white;
  width: 500px;
  height: 112px;
  margin-left: 200px;
}
.intro .arrowheader {
  position: absolute;
  z-index: 10;
  left: 50rem;
  top: 21rem;
}
.intro .whitecircle {
  position: absolute;
  z-index: 5;
  top: 26rem;
  left: 83rem;
}
.intro p {
  font-size: 15px;
  font-family: "Lexend Deca";
  line-height: 25px;
  font-weight: 300;
  color: #495567;
  color: white;
  width: 405px;
  height: 100px;
  margin-left: 350px;
  margin-top: 50px;
}
.intro button {
  width: 195px;
  height: 53px;
  background-color: #fcb72b;
  color: white;
  font-family: "Space Mono";
  line-height: 25px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 350px;
  margin-top: 50px;
}
.intro button:hover {
  background-color: white;
  color: #fcb72b;
  border: 1px solid #fcb72b;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .intro h1, .intro p, .intro button {
    margin: 0 auto;
  }
  .intro p {
    margin: 1rem 0;
  }
  .intro .arrowheader {
    position: absolute;
    z-index: 10;
    left: -5rem;
    top: 31rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .intro h1, .intro p, .intro button {
    margin: 0 auto;
  }
  .intro p {
    margin: 1rem 0;
  }
  .intro .arrowheader {
    position: absolute;
    z-index: 10;
    left: -20rem;
    top: 31rem;
  }
}

.bloc1 {
  display: flex;
  flex-direction: row;
  margin-top: 160px;
  margin-left: 165px;
  align-items: center;
  justify-content: space-between;
  width: 79.688rem;
}
.bloc1 .bloc1 article {
  display: flex;
  flex-direction: row;
  width: 350px;
}
.bloc1 img {
  margin-bottom: 40px;
  width: 96px;
  height: 96px;
}
.bloc1 h4 {
  font-size: 24px;
  font-family: "Space Mono";
  line-height: 28px;
  letter-spacing: -1.07px;
  color: #495567;
}
.bloc1 p {
  font-size: 15px;
  font-family: "Lexend Deca";
  line-height: 25px;
  font-weight: 300;
  color: #495567;
  color: #939CAA;
  margin-top: 20px;
  padding-right: 6rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .bloc1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 3rem;
  }
  .bloc1 article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .bloc1 .picto {
    margin-right: 10rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .bloc1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    width: 100%;
    text-align: center;
  }
  .bloc1 article {
    width: 100%;
  }
}

.bloc2 {
  margin-top: 200px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  margin-left: 165px;
  margin-right: 100px;
  justify-content: center;
}
.bloc2 article {
  display: flex;
  flex-direction: column;
  width: 27.813rem;
  margin-left: 0px;
}
.bloc2 img {
  margin: auto;
}
.bloc2 .arrow1 {
  position: absolute;
  z-index: 5;
  top: 18.75rem;
  margin-left: 31.25rem;
}
.bloc2 h2 {
  font-size: 48px;
  font-family: "Space Mono";
  line-height: 48px;
  letter-spacing: -2.14px;
  color: #495567;
  margin-bottom: 20px;
}
.bloc2 p {
  font-size: 15px;
  font-family: "Lexend Deca";
  line-height: 25px;
  font-weight: 300;
  color: #495567;
  margin-bottom: 30px;
}
.bloc2 button {
  width: 195px;
  height: 53px;
  background-color: #fcb72b;
  color: white;
  font-family: "Space Mono";
  line-height: 25px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.bloc2 button:hover {
  background-color: white;
  color: #fcb72b;
  border: 1px solid #fcb72b;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .bloc2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .bloc2 article {
    text-align: center;
    margin: 3rem auto;
  }
  .bloc2 .arrow1 {
    position: absolute;
    z-index: 5;
    top: 18.75rem;
    margin-right: 20rem;
  }
  .bloc2 button {
    margin: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .bloc2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .bloc2 article {
    text-align: center;
    margin: 3rem auto;
  }
  .bloc2 .arrow1 {
    position: absolute;
    z-index: 5;
    top: 18.75rem;
    margin-right: 20rem;
  }
  .bloc2 button {
    margin: auto;
  }
}

.bloc3 {
  margin-top: 160px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  margin-left: 165px;
  margin-right: 100px;
}
.bloc3 article {
  display: flex;
  flex-direction: column;
  width: 27.813rem;
  margin: auto;
}
.bloc3 img {
  margin-left: 0px;
}
.bloc3 .arrow2 {
  position: absolute;
  z-index: 5;
  top: 0rem;
  margin-left: -10rem;
}
.bloc3 h2 {
  font-size: 48px;
  font-family: "Space Mono";
  line-height: 48px;
  letter-spacing: -2.14px;
  color: #495567;
  margin-bottom: 20px;
}
.bloc3 p {
  font-size: 15px;
  font-family: "Lexend Deca";
  line-height: 25px;
  font-weight: 300;
  color: #495567;
  margin-bottom: 30px;
}
.bloc3 button {
  width: 195px;
  height: 53px;
  background-color: #fcb72b;
  color: white;
  font-family: "Space Mono";
  line-height: 25px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.bloc3 button:hover {
  background-color: white;
  color: #fcb72b;
  border: 1px solid #fcb72b;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .bloc3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .bloc3 article {
    text-align: center;
    margin: 3rem auto;
  }
  .bloc3 .arrow2 {
    position: absolute;
    z-index: 5;
    top: 1rem;
    margin-right: 20rem;
  }
  .bloc3 button {
    margin: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .bloc3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bloc3 article {
    text-align: center;
    margin: 3rem auto;
    width: 100%;
  }
  .bloc3 .arrow2 {
    position: absolute;
    z-index: 5;
    top: 1rem;
    margin-right: 0rem;
  }
  .bloc3 button {
    margin: auto;
  }
}

.bloc4 {
  margin-top: 160px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  margin-left: 165px;
  margin-right: 100px;
  justify-content: space-between;
  margin-bottom: 150px;
}
.bloc4 article {
  display: flex;
  flex-direction: column;
  width: 27.813rem;
  margin-left: 0px;
}
.bloc4 img {
  margin: auto;
  border-radius: 50%;
}
.bloc4 .arrow3 {
  position: absolute;
  z-index: 10;
  top: 5rem;
  margin-left: 60rem;
}
.bloc4 h2 {
  font-size: 48px;
  font-family: "Space Mono";
  line-height: 48px;
  letter-spacing: -2.14px;
  color: #495567;
  margin-bottom: 20px;
}
.bloc4 p {
  font-size: 15px;
  font-family: "Lexend Deca";
  line-height: 25px;
  font-weight: 300;
  color: #495567;
  margin-bottom: 30px;
}
.bloc4 button {
  width: 195px;
  height: 53px;
  background-color: #fcb72b;
  color: white;
  font-family: "Space Mono";
  line-height: 25px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.bloc4 button:hover {
  background-color: white;
  color: #fcb72b;
  border: 1px solid #fcb72b;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .bloc4 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .bloc4 article {
    text-align: center;
    margin: 3rem auto;
  }
  .bloc4 .arrow3 {
    position: absolute;
    z-index: 5;
    top: 1rem;
    margin-right: 20rem;
  }
  .bloc4 button {
    margin: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .bloc4 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .bloc4 article {
    text-align: center;
    margin: 3rem auto;
    width: 100%;
  }
  .bloc4 .arrow3 {
    position: absolute;
    z-index: 5;
    right: -9rem;
    top: -3rem;
  }
  .bloc4 button {
    margin: auto;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #495567;
  width: 100%;
}
footer .text_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 165px;
  margin-right: 200px;
  align-items: center;
  height: 300px;
}
footer .text_footer .dowload {
  width: 9.938rem;
  height: 56px;
  display: flex;
  flex-direction: row;
}
footer .text_footer h2 {
  font-size: 48px;
  font-family: "Space Mono";
  line-height: 48px;
  letter-spacing: -2.14px;
  color: #495567;
  color: white;
  width: 25.938rem;
}
footer .bottom_page {
  display: flex;
  flex-direction: row;
  background-color: #333A44;
  justify-content: space-between;
  height: 4rem;
}
footer .bottom_page .social_media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 120px;
  height: 24px;
  margin: auto;
}
footer .bottom_page .nav_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 69.125rem;
  margin-left: 165px;
}
footer .bottom_page .nav_footer h4 {
  font-size: 24px;
  font-family: "Space Mono";
  line-height: 28px;
  letter-spacing: -1.07px;
  color: #495567;
  color: white;
  margin-right: 3.125rem;
}
footer .bottom_page ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
footer .bottom_page li a {
  display: inline;
  margin: 10px;
  text-decoration: none;
  font-size: 15px;
  font-family: "Lexend Deca";
  line-height: 25px;
  font-weight: 300;
  color: #495567;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 96px;
}

header nav button {
  height: auto;
  margin-left: auto;
  width: 195px;
  height: 53px;
  background-color: #fcb72b;
  color: white;
  font-family: "Space Mono";
  line-height: 25px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
header nav button:hover {
  background-color: white;
  color: #fcb72b;
  border: 1px solid #fcb72b;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 69.125rem;
  height: auto;
  justify-content: center;
}
nav h4 a {
  font-size: 24px;
  font-family: "Space Mono";
  line-height: 28px;
  letter-spacing: -1.07px;
  color: #495567;
  margin-right: 3.125rem;
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li a {
  display: inline;
  margin: 10px;
  text-decoration: none;
  font-size: 15px;
  font-family: "Lexend Deca";
  line-height: 25px;
  font-weight: 300;
  color: #495567;
}

.title__page {
  padding: 70px 10%;
  background-image: url("../Pictures/header_background.svg");
  margin-bottom: 6%;
}
.title__page h1 {
  font-size: 56px;
  font-family: "Space Mono";
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #495567;
  color: white;
  margin-left: 3%;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.map .big-map {
  margin-left: 165px;
  margin-right: 165px;
  margin-bottom: 5%;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .map .big-map {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .map .mobile-map {
    display: none;
  }
}
@media (min-width: 1025px) {
  .map .mobile-map {
    display: none;
  }
}

.country-mobile {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .country-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .country-mobile ul {
    display: flex;
    flex-direction: column;
  }
  .country-mobile li {
    background-color: #FFF4DF;
    color: #495567;
    width: 19.438rem;
    text-align: center;
    height: 4.5rem;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.below_map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 165px;
  margin-right: 165px;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
}
.below_map h2 {
  font-size: 48px;
  font-family: "Space Mono";
  line-height: 48px;
  letter-spacing: -2.14px;
  color: #495567;
  width: 21.938rem;
}
.below_map p {
  font-size: 15px;
  font-family: "Lexend Deca";
  line-height: 25px;
  font-weight: 300;
  color: #495567;
  width: 27.813rem;
}
.below_map button {
  width: 195px;
  height: 53px;
  background-color: #fcb72b;
  color: white;
  font-family: "Space Mono";
  line-height: 25px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 11.25rem;
}
.below_map button:hover {
  background-color: white;
  color: #fcb72b;
  border: 1px solid #fcb72b;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .below_map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
  }
  .below_map p {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .below_map button {
    margin-bottom: 5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .below_map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    width: 100vw;
  }
  .below_map .map {
    width: 100%;
  }
  .below_map h2 {
    margin-top: 2rem;
  }
  .below_map p {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .below_map button {
    margin-bottom: 5rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #495567;
  width: 100%;
}
footer .text_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 165px;
  margin-right: 165px;
  align-items: center;
  height: 300px;
}
footer .text_footer .dowload {
  width: 9.938rem;
  height: 56px;
  display: flex;
  flex-direction: row;
}
footer .text_footer h2 {
  font-size: 48px;
  font-family: "Space Mono";
  line-height: 48px;
  letter-spacing: -2.14px;
  color: #495567;
  color: white;
  width: 25.938rem;
}
footer .bottom_page {
  display: flex;
  flex-direction: row;
  background-color: #333A44;
  justify-content: space-between;
  height: 4rem;
}
footer .bottom_page .social_media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 120px;
  height: 24px;
  margin-right: 165px;
}
footer .bottom_page .nav_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 69.125rem;
  margin-left: 165px;
}
footer .bottom_page .nav_footer h4 a {
  font-size: 24px;
  font-family: "Space Mono";
  line-height: 28px;
  letter-spacing: -1.07px;
  color: #495567;
  color: white;
  margin-right: 3.125rem;
}
footer .bottom_page ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
footer .bottom_page li a {
  display: inline;
  margin: 10px;
  text-decoration: none;
  font-size: 15px;
  font-family: "Lexend Deca";
  line-height: 25px;
  font-weight: 300;
  color: #495567;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
